<!doctype html>
<html>
    <head>
        <title>RCM App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
  <body>
    <h1>🚀 RCM Web App</h1>
    <ul>
        <li><a href="/patients">View Patients</a></li>
        <li><a href="/submit">Submit Claim</a></li>
        <li><a href="/status">Check Claim Status</a></li>
        <li><a href="/upload">📤 Upload CSV</a></li>
        <li><a href="/download/csv">⬇️ Download CSV</a></li>
        <li><a href="/download/pdf">⬇️ Download PDF</a></li>
      </ul>      
  </body>
</html>
